!!!
%html{lang:  "ja"}
  %head
    %meta{charset:  "utf-8"}
  %body
    .var-side
      .var-side__user-name
        まな
        .user-name__create-group-btn
          %link{ :href => "", :type => ""}
      .var-side__group-list
        %ul.group-list__groups
          %li.group-list__group
            .group__name
              まなのグループ
            .group__message
              こんにちは！
          %li.group-list__group
            .group__name
              あなたのグループ
            .group__massage
              さようなら！
    .main-contents
      .main-contents__header
        .header__group-name
          まなのグループ
        .header__group-member
          member:まな
        .header__group-edit-btn
          %input{ :name => "submit", :value => "edit"}
      .main-contents__message
        %ul.main-contents__messages
          %li.mein-contents__message-box
            .message-box__user-name
              まな
            .message-box__date
              2019/05/11 18:00
            .message-box__text
              こんにちは！
      .main-contents__bottom
        .bottom__message-box
          %form{ :id => "new-message", :method => "post"}
          %input{ :name => "text", :sizr => "80", :value => "type a message", :placeholder => "type a message", :type => "text"}
            .message-box__add-image-btn
        .bottom__message-send-btn
          %input{ :type => "submit", :value => "send"}


