.chat {
  width: calc(100% - 300px);
  .header {
    box-sizing: border-box;
    height: 100px;
    padding: 0 40px;
    .left-header {
      float: left;
      &__title {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__members {
        @include flexbox;
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        .member {
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header {
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      height: 40px;
      line-height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      &__button {
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

  .messages {
    background-color: #FAFAFA;
    box-sizing: border-box;
    padding: 46px 40px 0;
    height: calc(100% - 100px - 90px);
    .message {
      .upper-message {
        display: flex;
        &__user-name {
          color: $dark_gray;
          font-size: 16px;
          font-weight: bold;
        }
        &__date {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message {
        margin-top: 10px;
        &__content {
          color: $dark_gray;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .form {
    background-color: #DDDDDD;
    box-sizing: border-box;
    height: 90px;
    padding: 20px 40px;
      &__message {
        height: 50px;
        width: 100%;
        position: relative;
        display: inline-block;
          &-box {
            height: 50px;
            width: calc(100% - 120px);
            padding: 0 10px;
          }
          .image-label {
            top: 15px;
            right: 110px;
            position: absolute;
              .hidden {
                display: none;
              }
          }
          &__submit {
            height: 50px;
            margin-left: 15px;
            background-color: $light_blue;
            color: $white;
            padding: 0 15px;
          }
      }
  }
}

